
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
  }

.navbar-toggler {
    border: none;
}

#intro {
    padding-top: 5%;
}

body {
    font-family: Roboto-Regular;
}

#dp {
    width:100%;
    max-width: 300px;
    min-width: 200px;
    padding-left: 30px;
    padding-right: 30px;
}

footer, h1, h2, h3, h4, h5, p, li, a{
    font-family: Roboto-Thin;
    color: #4d4d4d;
}

#logo{
    width: 100%;
    max-width: 125px;
    min-width: 50px;
}

/* Change all instancees where I use absolute values (pt) to responive units */
#my_work a{
    text-decoration: none;
    color: #4d4d4d;
    padding-right: 20px;
}

.accordion-button:focus, .navbar-toggler:focus{
 outline: none;
 box-shadow: none;
}

/* .typewrite{
    color: black;
} */


.socialLink{
    margin-right: 35%;
    margin-left: 0;
    min-width: 50px;
}

a{
    width: 10%
    /* margin-right: 100%; */
}

h5{
    font-weight: bold;
}