/* @font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
  }

@font-face {
    font-family: Roboto-Thin;
    src: url("../fonts/Roboto-Thin.ttf");
}

body {
    font-family: Roboto-Regular;
}

a {
    text-decoration: none;
}

footer, h1{
    font-family: Roboto-Thin;
}

h1{
    font-size: 50pt;
    color: #707070;
    margin: 0;
}


h1 #web-dev{
    font-family: Roboto-Regular;
}

#top-nav {
    float:right;


}

/* #logo {
    position: relative;
} */

/* #logo img{
    position: absolute;
    top: 60px;
    left: 80px;
    height: 15%;
    width: 15%

}

#intro{
    padding-left: 250px;
    padding-top: 180px;
}

#intro img{
    position: absolute;
    left: 800px;
    top: 280px;
}

footer{
    float:right;
    padding: 30px;
}

nav a{
    color:#707070;
    margin-right: 50px;
    font-size: 20pt;
}

nav {
    margin-top: 70px;
}

.navbar{
    padding-top: 0;
    border-top:0;
} */

.navbar-toggler {
    border: none;
}

#intro {
    padding-top: 20%;
    
}

body {
    font-family: Roboto-Regular;
}

#dp {
    width:100%;
    max-width: 300px;
    min-width: 200px;
    padding-left: 30px;
    padding-right: 30px;
}

footer, h1, a{
    font-family: Roboto-Thin;
    color: #4d4d4d;
}

#logo{
    max-width: 125px;
}

#my_work a{
    text-decoration: none;
    color: #4d4d4d;
    padding-right: 20px;
}

/* #my_work {
    padding-top: 20px;
}

#check {
    padding-right: 20px;
} */


